* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#map {
/*	max-height:none;*/
	overflow: auto; !important
	/*z-index: -5;*/
	position: fixed;!important
}

#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}


body {
	/*background-image: url(../images/map.png); */
	font-size: 24px;
	line-height: 32px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
 	height: 1054px;
}

h1 {
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
}

h2 {
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
	vertical-align: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

h3 {
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	color: #777777;
	font-weight: lighter;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 1em;
	color: white;
	clear: left;
	align-self: bottom;
	font-size: 10px;
}

.highlight {
	font-size: 10px;
	line-height: 0%;
}

.brand-logo {
	font-size: 70px;
}

.welcomemessage {
	font-weight: 100;
	letter-spacing: -1px;
	color: black;

}

.page-footer {
	height: 40%;
	overflow: none;
}

#wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 20px;
}

#row-id {
	margin-bottom: 0;
}

#jumbotron {
	width: 67.7%;
	float: left;
	position: relative;
	padding: 30px;
	font-size: 15px;
	margin-top: 5px;
}

#resources {
	width: 100%;
	height: 200px;
	float: right;
	position: relative;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	padding: 0;
    overflow: auto;
    color: white;
    font-weight: lighter;
}

#placesBeen {
	font-size: 20px;
	color: white;
	margin-bottom: 8px;
	font-size: 15px;
}

#chosenrestaurant {
	text-align: left;
}

#description {
	text-align: left;
	line-height: 150%;
}

#descriptiontitle {
	text-align: left;
}

#ratingtitle {
	text-align: left;
}

#randomizeBtn {
	float: left;
}

@media screen and (max-width: 980px) {
	
	html, body {
		height: 1500px;
	}

	.imagetext {
		width: 491px;
		margin-left: 5px;
		margin-top: 290px;
	}	
}

@media screen and (max-width: 768px) {
	
	body {
		height: 1300px;
	}

	#wrapper {
		width: 100%;
		position: relative;
	}

	#jumbotron {
		position: relative;
		width: 100%;
	}

	#resources {
		position: relative;
		width: 100%;
	}



@media screen and (max-width: 640px) {
	
	body {
		height: 1300px;
	}

	#wrapper {
		width: 100%;
		position: relative;
	}

	.imagetext {
		width: 468px;
		margin-left: 5px;
		margin-top: 290px;
	}

	#jumbotron {
		position: relative;
		width: 100%;
	}

	#resources {
		position: relative;
		width: 100%;
	}
}
