* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#map {
/*	max-height:none;*/
	overflow: auto; !important
	/*z-index: -5;*/
	position: fixed;!important
}

body {
	/*background-image: url(../images/map.png); */
	font-size: 24px;
	line-height: 32px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
 	height: 1054px;
}

h1 {
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
}

h2 {
	color: white;
	font-size: 24px;
	margin-bottom: 20px;
	vertical-align: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

h3 {
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

h4 {
	color: #777777;
	font-weight: lighter;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 1em;
	color: white;
	clear: left;
	align-self: bottom;
	font-size: 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-wrapper {

}

.highlight {
	font-size: 10px;
	line-height: 0%;
}

.brand-logo {
	font-size: 70px;
}

.welcomemessage {
	font-weight: 100;
	letter-spacing: -1px;
	color: black;
}

.page-footer {
	height: 30%;
	overflow: auto;
}

#wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 20px;
}

#jumbotron {
	width: 67.7%;
	float: left;
	position: relative;
	padding: 30px;
	font-size: 15px;
	margin-top: 5px;
}

#resources {
	width: 28.1%;
	height: 200px;
	background-color: white;
	float: right;
	position: relative;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	padding: 10px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

#placesBeen {
	font-size: 20px;
	color: black;
}

#thumbnailimg {
	width: 65%;
	height: 65%;
	float: left;
	
}
#chosenrestaurant {
	text-align: left;
}

#description {
	text-align: left;
	line-height: 150%;
}

#descriptiontitle {
	text-align: left;
}

#ratingtitle {
	text-align: left;
}

#searchButton {
	float: right;
	margin-top: 20px;
}

#searchBar {
	float: left;
	text-align: left;
}

@media screen and (max-width: 980px) {
	
	html, body {
		height: 1500px;
	}

	.imagetext {
		width: 491px;
		margin-left: 5px;
		margin-top: 290px;
	}	
}

@media screen and (max-width: 768px) {
	
	body {
		height: 1300px;
	}

	#wrapper {
		width: 100%;
		position: relative;
	}

	#jumbotron {
		position: relative;
		width: 100%;
	}

	#resources {
		position: relative;
		width: 100%;
	}



@media screen and (max-width: 640px) {
	
	body {
		height: 1300px;
	}

	#wrapper {
		width: 100%;
		position: relative;
	}

	.imagetext {
		width: 468px;
		margin-left: 5px;
		margin-top: 290px;
	}

	#jumbotron {
		position: relative;
		width: 100%;
	}

	#resources {
		position: relative;
		width: 100%;
	}
}
